.cans-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.can {
  position: absolute;
  width: 10vw;
  height: auto;
  transition: transform 1s ease-in-out;
}

.can-left {
  animation: rotateLeft 5s infinite ease-in-out;
  transform-origin: bottom;
  z-index: 1;
}

.can-center {
  animation: slightMovementCenter 5s infinite ease-in-out;
  z-index: 3;
}

.can-right {
  animation: rotateRight 5s infinite ease-in-out;
  transform-origin: bottom;
  z-index: 1;
}

@keyframes rotateLeft {
  0% {
    transform: rotate(0deg) translateX(-8vw);
  }
  50% {
    transform: rotate(-5deg) translateX(-7vw);
  }
  100% {
    transform: rotate(0deg) translateX(-8vw);
  }
}

@keyframes slightMovementCenter {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(1vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotate(0deg) translateX(8vw);
  }
  50% {
    transform: rotate(5deg) translateX(9vw);
  }
  100% {
    transform: rotate(0deg) translateX(8vw);
  }
}
