.pringles-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sky {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}

.grass {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.logo {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 10vw;
  max-width: 150px;
}

.main-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  position: relative;
  z-index: 1;
}

.table {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.table img {
  width: 80%;
  max-width: 900px;
  height: auto;
  object-fit: contain;
}

.onion {
  z-index: 4;
  position: absolute;
  left: calc(50% - 20vw);
  transform: translateY(50%);
}

.onion img {
  width: 15vw;
}

.chips {
  z-index: 2;
  position: absolute;
  left: calc(50% + 5vw);
  transform: translateX(-50%);
  height: 50px;
}

.chips img {
  width: 15vw;
  max-width: 300px;
}

/* Cans */
.pringles-cans {
  z-index: 2;
  display: flex;
  justify-content: center;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  margin-bottom: -20px;
}
